.themeBlue {
    background-color: #2d439c;
}

.themeYellow {
    background-color: #f4cf2d;
}

.table-theme {
    --bs-table-bg: #2d439c;
    --bs-table-color: #f4cf2d;
    border-color: #2d439c;
}

.table-hover tbody tr:hover {
    --bs-table-hover-bg: #f4cf2d;
    --bs-table-hover-color: #000000;
}

.btn.btn-theme-blue {
    --bs-btn-color: #2d439c;
    --bs-btn-border-color: #2d439c;
    --bs-btn-hover-color: #f4cf2d;
    --bs-btn-hover-bg: #2d439c;
    --bs-btn-hover-border-color: #2d439c;
    --bs-btn-active-bg: #2d439c;
    --bs-btn-active-border-color: #2d439c;
}

.btn.btn-solid-blue {
    --bs-btn-bg: #2d439c;
    --bs-btn-color: #f4cf2d;
    --bs-btn-hover-color: #f4cf2d;
    --bs-btn-hover-bg: #3758e0;
    --bs-btn-hover-border-color: #3758e0;
    --bs-btn-active-bg: #3758e0;
    --bs-btn-active-border-color: #3758e0;
    --bs-btn-disabled-bg: #3758e0;
    --bs-btn-disabled-color: #dedede;
    --bs-btn-disabled-opacity: .6;
    
}

.btn.btn-theme-yellow {
    --bs-btn-color: #f4cf2d;
    --bs-btn-border-color: #f4cf2d;
    --bs-btn-hover-color: #2d439c;
    --bs-btn-hover-bg: #f4cf2d;
    --bs-btn-hover-border-color: #f4cf2d;
    --bs-btn-active-bg: #f4cf2d;
    --bs-btn-active-border-color: #f4cf2d;
}

.modal-fade {
    background: rgba(0,0,0,0.55);
}